<div class="-bottom-[100%] -left-1/2  -translate-x-1/2 absolute min-w-96 z-50">
  <p-card class="p-4">
    <div class="flex flex-col gap-2">
      <app-info-item icon="assets/icons/server.svg" title="LoremIpsum" size="small" />
    <div class=" flex items-center gap-1">
      <i class="pi pi-book"></i>
      <p class=" font-medium">Lorem: Loremipsum Loremipsum.</p>
      <div class="server-text text-purple-600 bg-purple-100">
        <p>Lorem: 1.2.3.4</p>
      </div>
    </div>
    <div class=" flex items-center gap-1">
      <div class="server-text text-purple-600 bg-purple-100">
        <p>Lorem: 1.2.3.4</p>
      </div>
      <p>Loremipsum.</p>
      <div class="server-text text-purple-600 bg-purple-100">
        <p>Lorem: 1.2.3.4</p>
      </div>
      <div class="server-text text-purple-600 bg-purple-100">
        <p>Lorem: 1.2.3.4</p>
      </div>
    </div>
    </div>

  </p-card>
</div>
