<section class="p-5 flex flex-col lg:flex-row gap-5 overflow-auto">
  <div
    class="bg-white w-full lg:max-w-[385px] rounded-2xl shadow-md p-5 flex flex-col gap-5  no-scrollbar"
  >
    <div>
      <h2 class="text-green-700 font-bold text-lg mb-3">Description</h2>
      <p class="text-text-grey">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
        veniam hic ut in repellendus unde laudantium ducimus quisquam aspernatur
        aliquid non sit ipsum sint beatae aliquam sapiente praesentium fugiat
        dolorem quidem. Culpa, dignissimos ipsam, itaque vitae ducimus quibusdam
        odio veniam aperiam consectetur autem blanditiis corrupti consequatur
        non sequi cumque aspernatur?
      </p>
    </div>
    <div>
      <h2 class="text-green-700 font-bold text-lg mb-3">Extra</h2>
      <p class="text-text-grey">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
        veniam hic ut in repellendus unde laudantium ducimus quisquam aspernatur
        aliquid non sit ipsum sint beatae aliquam sapiente praesentium fugiat
        dolorem quidem. Culpa, dignissimos ipsam, itaque vitae ducimus quibusdam
        odio veniam aperiam consectetur autem blanditiis corrupti consequatur
        non sequi cumque aspernatur? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Id quaerat sunt inventore quidem aliquid. Porro nam
        placeat tenetur ad illum.
      </p>
    </div>

    <app-remidiations />
  </div>
  <div class="w-full">
    <div
      class="w-full max-w-[900px] h-auto rounded-2xl bg-white shadow-md p-5"
    >
  <app-server-chart />
  <app-risks-charts />
  </div>
  </div>
</section>
