<h2 class="heading_primary">Lorem Lorem Lorem</h2>

<div class="flex flex-col bg-background rounded-3xl px-4">

  <div class="py-10 flex gap-5 flex-col md:flex-row min-h-80">
    <!-- Horizontal chart items -->
    <div class=" grid grid-cols-3 flex-auto mb-10 md:mb-0">
      <div  class=" server-item-wrapper">
        <app-server-chart-item infoTitle="LoremIpsum" [icon]="chartIconsRoute + icons.incognito">
          <img badge [src]="chartIconsRoute + icons.incognitoBadge" alt="badge"/>
          <app-vulnerability-tooltip tooltip/>
        </app-server-chart-item>
      </div>
     <div  class=" server-item-wrapper">
        <app-server-chart-item infoTitle="LoremIpsum" [icon]="chartIconsRoute + icons.server">
          <app-sever-info-tooltip tooltip />
        </app-server-chart-item>
     </div>
      <div  class=" server-item-wrapper">
        <app-server-chart-item infoTitle="LoremIpsum" [icon]="chartIconsRoute + icons.server">
          <app-sever-info-tooltip tooltip />
        </app-server-chart-item>
      </div>
    </div>

    <!-- vertical chart items -->
    <div class=" md:w-3/12 grid grid-cols-2 md:grid-cols-1">
     <div class=" server-item-wrapper">
        <app-server-chart-item infoTitle="LoremIpsum" infoSubtitle="192.168.1" [icon]="chartIconsRoute + icons.server">
          <img badge [src]="chartIconsRoute + icons.shieldError" class="w-5" alt="badge"/>
          <app-sever-info-tooltip tooltip />
        </app-server-chart-item>
     </div>
     <div  class=" server-item-wrapper">
         <app-server-chart-item infoTitle="LoremIpsum" infoSubtitle="192.168.1" [icon]="chartIconsRoute + icons.server">
          <img badge [src]="chartIconsRoute + icons.shieldError" class="w-5" alt="badge"/>
          <app-sever-info-tooltip tooltip />
        </app-server-chart-item>
     </div>
    </div>
  </div>
  <div class=" py-5 px-3 border-t border-t-text-grey/20 flex items-center gap-4 flex-wrap" >
    <app-status-item severity="error" [message]="'Lorem Ipsum'" />
    <app-status-item severity="warn" [message]="'Lorem Ipsum'" />
    <app-status-item severity="success" [message]="'Lorem Ipsum'" />
  </div>
</div>
