 <div class=" border-t border-t-text-grey/20 pt-4">
    <h3 class=" text-text-grey font-semibold mb-4">Lorem ipsum dolor sit.</h3>
      <p-accordion  collapseIcon="pi" expandIcon="pi">
        <app-remidiation-item
          value="0"
          infoTitle="Server"
          primaryText="Lorem ipsum dolor sit amet consectetur"
          icon="assets/icons/server.svg"
          title="Lorem ipsum dolor"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat
            aut recusandae quam molestiae suscipit! Cupiditate sit ex ullam
            corrupti voluptate?
          </p>
        </app-remidiation-item>
         <app-remidiation-item
          value="1"
          infoTitle="Server"
          primaryText="Lorem ipsum dolor sit amet consectetur"
          icon="assets/icons/server.svg"
          title="Lorem ipsum dolor"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat
            aut.
          </p>
        </app-remidiation-item>
         <app-remidiation-item
          value="2"
          infoTitle="Server"
          primaryText="Lorem ipsum dolor sit amet consectetur"
          icon="assets/icons/server.svg"
          title="Lorem ipsum dolor"
        >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat
            aut recusandae quam molestiae suscipit! Cupiditate sit ex ullam
            corrupti voluptate? Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
          </p>
        </app-remidiation-item>
      </p-accordion>
    </div>
